# Logs
logs
*.log
npm-debug.log*

# Build
dist/
dist-ssr/

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Dependencies
node_modules/

# TypeScript incremental build outputs
*.tsbuildinfo
vite.config.js
vite.config.d.ts
